.content {
  padding: 25px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.player-info {
  color: var(--dark-blue-color);
  margin-bottom: 26px;
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;

}